In [4]:
import pandas as pd
import glob

# Path to the directory containing the CSV files
directory_path = 'zillow_data/recently_sold'

# Create a pattern to match all CSV files
pattern = f'{directory_path}/zillow (*.csv'

# List all CSV files in the directory
csv_files = glob.glob(pattern)

# Read and append each CSV file into a DataFrame
df_list = [pd.read_csv(file) for file in csv_files]
combined_df = pd.concat(df_list, ignore_index=True)

In [51]:
def extract_info(row):
    address = row['StyledPropertyCardDataArea-c11n-8-84-3__sc-yipmu-0'] if isinstance(row['StyledPropertyCardDataArea-c11n-8-84-3__sc-yipmu-0'], str) else ''
    beds = row['StyledPropertyCardHomeDetailsList-c11n-8-84-3__sc-1xvdaej-0'] if pd.notna(row['StyledPropertyCardHomeDetailsList-c11n-8-84-3__sc-1xvdaej-0']) else ''
    baths = row['StyledPropertyCardHomeDetailsList-c11n-8-84-3__sc-1xvdaej-0 3'] if pd.notna(row['StyledPropertyCardHomeDetailsList-c11n-8-84-3__sc-1xvdaej-0 3']) else ''
    sqft = row['StyledPropertyCardHomeDetailsList-c11n-8-84-3__sc-1xvdaej-0 5'] if pd.notna(row['StyledPropertyCardHomeDetailsList-c11n-8-84-3__sc-1xvdaej-0 5']) else ''
    value = row['PropertyCardWrapper__StyledPriceLine-srp__sc-16e8gqd-1'] if pd.notna(row['PropertyCardWrapper__StyledPriceLine-srp__sc-16e8gqd-1']) else ''
    zipcode = address.split(',')[-1].strip().split(' ')[-1] if address else ''
    sold_date_raw = row['StyledPropertyCardBadge-c11n-8-84-3__sc-6gojrl-0'] if pd.notna(row['StyledPropertyCardBadge-c11n-8-84-3__sc-6gojrl-0']) else ''
    sold_date = sold_date_raw.split(' ')[-1] if 'Sold' in sold_date_raw else ''

    return pd.Series([address, zipcode, beds, baths, sold_date,sqft, value])

# Apply the extraction function
extracted_df = combined_df.apply(extract_info, axis=1)
extracted_df.columns = ['Address', 'Zipcode', 'Beds', 'Baths', 'Sold Date', 'sqft', 'Value']

# Display the extracted information
extracted_df.head()

,Address,Zipcode,Beds,Baths,Sold Date,sqft,Value
0,"3719 12th St NE APT 201, Washington, DC 20017",20017,2.0,1.0,10/31/2023,945,"$399,000"
1,"4301 Military Rd NW APT 513, Washington, DC 20015",20015,2.0,2.0,10/31/2023,977,"$650,000"
2,,,,,,,
3,"1222 Maryland Ave NE APT 3, Washington, DC 20002",20002,2.0,2.0,10/31/2023,861,"$590,000"
4,"1761 P St NW UNIT 1, Washington, DC 20036",20036,2.0,1.0,10/31/2023,751,"$545,000"

In [53]:
extracted_df.to_csv('./zillow_data/recently_sold.csv')

In [ ]:
extracted_df.to_csv('./zillow_data/recently_sold.csv')